{% extends 'base.html' %}
{% block content %}
<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<h2>Services</h2>
    	<h6>We offer technology consultation services specilaizing in custom workflow automation solutions.</h6>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-paw"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Workflow Automations</h3>
                        <p>Automate repetitive and boring tasks so you can focus on what really matters!</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-gear"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Custom Applications</h3>
                        <p>We'll help you create custom applications for you to better manage your workstreams</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa fa-cloud"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>IT Consulting</h3>
                        <p>General IT consulting with a focus on cloud migration. We'll help you migrate to the technology of the future!</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<!-- <i class="fa fa-cloud"></i> -->
                    </div>
                	<!-- <div class="service-list-col2">
                        <h3>24/7 Support</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p>
                    </div> -->
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<img src="{{url_for('static', filename='img/macbook-pro.jpg')}}" alt="">
            </figure>
        
        </div>
	</div>
</section><!--main-section-end-->

{% endblock %}